name: Publish Package

on:
  push:
    tags:
      - "v*"
      - "alpha*"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-alpha:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run build

      - name: Set up Node.js for npm publish
        # This step configures npm to use the OIDC token
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Update npm
        run: npm install -g npm@latest

      - name: Publish alpha package
        if: startsWith(github.ref, 'refs/tags/alpha')
        run: npm publish --tag alpha

  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run build

      - name: Set up Node.js for npm publish
        # This step configures npm to use the OIDC token
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Update npm
        run: npm install -g npm@latest

      - name: Publish to npm
        if: startsWith(github.ref, 'refs/tags/v')
        run: npm publish
